:root {
  --vp-c-brand: #008c8c;
  --vp-c-brand-light: #303133;
  --vp-c-brand-lighter: #518071;
  --vp-c-brand-lightest: #18392F;
  --vp-c-brand-dark: #303133;
  --vp-c-brand-darker: #4A4857;

  --vp-code-block-bg: #f9fafb;
  --demoblock-border: #c7c7c7;
  --vp-c-divider-light: #c7c7c7;
}

html.dark {
  --vp-code-block-bg: var(--vp-c-bg-alt);
  --vp-c-divider-light: rgba(255, 255, 255, .5);
}
.demo-block .meta {
  background-color: var(--vp-code-block-bg);
}

html.dark {
  --vp-code-block-bg: var(--vp-c-bg-alt);
}
