@primaryColor: #068488;
@successColor: #00B38F;
@dangerColor: #EE2828;
@warningColor: #FBAC00;

.t-btn + .t-btn {
    margin-left: 12px;
  }
  .t-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
    color: #515a6e;
    background-color: #fff;
    border-color: #dcdee2;
    &.t-btn--primary {
      background-color: @primaryColor;
      border-color: @primaryColor;
      color: #fff;
    }
    &.t-btn--success {
      background-color: @successColor;
      border-color: @successColor;
      color: #fff;
    }
    &.t-btn--danger {
      background-color: @dangerColor;
      border-color: @dangerColor;
      color: #fff;
    }
    &.t-btn--warning {
      background-color: @warningColor;
      border-color: @warningColor;
      color: #fff;
    }
  }
  